body {
	font-family : "Arial", "helvatica", sans-serif;
	width: 100%;
	background-color: #005eb8;
	font-size: 25px;
  margin:10px;
}
header {
	width:85%;
	padding: 10px;
	margin: 10px;
	background-color: #005eb8;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
header>img {
	width: 50%;
	height: 18%;
}
.headerText {
	width: 50%;
	height:18%;
	text-align: center;
	color: #fff;
}
h1 {
  font-size: 50px;
  font-size: 4.5vw;
}
input[type=text] {
	padding: 8px 20px;
	float:left;
	height: 80%;
	width: 60%;
  font-size: 15px;
}
input[type=submit] {
	width: 32%;
	height: 70%;
	background-color:#fff;
	border: none;
	font-size: 15px;
	color: #005eb8;
	float:right;
}
.col-sm-3{
	background-color: #ffffff;
  margin: 5px;
  text-align: center;
}
/*.box  {
	height: 30%;
	width: 50%;
	text-align: center;
}*/
h2 {
	text-align: center;
	color: #005eb8;
	font-size: 10px;
	padding: 0px;
}
input[type=checkbox] {
	width: 20px;
	height: 20px;
	text-align: center;
}
#dropdownboxstart {
	min-width: 90%;
	text-align: center;
	font-size: 15px;
	height: auto;
}
#dropdownboxend {
	min-width: 90%;
	text-align: center;
	font-size: 15px;
	height: auto;
}
