img {
	height: 220px;
	width: 550px;
	margin-left: 200px;
}

h2 {
	text-align: center;
	color: #0064b7;
}

input
{
	height: 24px;
	width: 128px;
	-webkit- appearance: textfield;
	-moz- appearance: textfield;
	background-color: white;
	border: 1px solid darkgrey;
	box-shadow: 1px 1px 1px 0 lightgrey inset;
	font-family : "Arial", sans-serif;
	resize: none;
}

select
{
	/*margin-left: 400px;*/
	height: 24px;
	width: 128px;
	-webkit- appearance: textfield;
	-moz- appearance: textfield;
	background-color: white;
	border: 1px solid darkgrey;
	box-shadow: 1px 1px 1px 0 lightgrey inset;
	font-family : "Arial", sans-serif;
	resize: none;
}
.dropDown {
	text-align: center;
}
.findPath {
	text-align: center;
}
.button {
	position: relative;
	width: 100px;
	height: 50px;
	background-color:#0064d7;
	border: none;
	font-size: 20px;
	color: #ffffff;
}
body

{
	font-family : "Arial", "helvatica", sans-serif;
}

.box {
	padding: 5px;
	border-style:solid;
	border-width: 5px;
	border-color: #D3D3D3;
	height: 200px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

/*#inputbox
{
	height: 16px;
	width: 128px;
	-webkit- appearance: textfield;
	-moz- appearance: textfield;
	background-color: white;
	border: 1px solid darkgrey;
	box-shadow: 1px 1px 1px 0 lightgrey inset;
	font-family : "Arial", sans-serif;
	resize: none;
}
